/* You can add global styles to this file, and also import other style files */


.navbar {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.75em;

}

.navbar-brand {
    font-size: 1.8em;
}

.dropdown-menu {
    font-size: 1em;
}